BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/appsettings.Development.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/appsettings.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/Azure.Core.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/Azure.Storage.Blobs.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/Azure.Storage.Common.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/Microsoft.WindowsAzure.Storage.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.deps.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.exe
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.pdb
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.runtimeconfig.dev.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.runtimeconfig.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.Views.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/bin/Debug/netcoreapp3.1/WorkingWithBlobStorage.Views.pdb
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/project.assets.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/project.nuget.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/WorkingWithBlobStorage.csproj.nuget.dgspec.json
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/WorkingWithBlobStorage.csproj.nuget.g.props
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/WorkingWithBlobStorage.csproj.nuget.g.targets
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/apphost.exe
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.AssemblyInfo.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.AssemblyInfoInputs.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.assets.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.csproj.CopyComplete
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.csproj.CoreCompileInputs.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.csproj.FileListAbsolute.txt
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.csprojAssemblyReference.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.genruntimeconfig.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.MvcApplicationPartsAssemblyInfo.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.pdb
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.RazorAssemblyInfo.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.RazorAssemblyInfo.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.RazorCoreGenerate.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.RazorTargetAssemblyInfo.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.RazorTargetAssemblyInfo.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.TagHelpers.input.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.TagHelpers.output.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.Views.dll
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/WorkingWithBlobStorage.Views.pdb
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/staticwebassets/WorkingWithBlobStorage.StaticWebAssets.Manifest.cache
BlobStorage+MVC/WorkingWithBlobStorage/WorkingWithBlobStorage/obj/Debug/netcoreapp3.1/staticwebassets/WorkingWithBlobStorage.StaticWebAssets.xml
