<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://new-function-app-classic-1804.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b3f447e4-2be7-4377-8874-77d1948cc966/resourceGroups/new-test-rg-weu/providers/Microsoft.Web/sites/new-function-app-classic-1804</ResourceId>
    <UserName>$new-function-app-classic-1804</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://new-function-app-classic-1804.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>